<%include ../include/header.html%>
<form action="/user/reg" method="post" class="form-horizontal">
    <div class="form-group">
        <label class="control-label col-xs-3" for="username">用户名</label>

        <div class="col-xs-6">
            <div class="input-group">
                <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
                <input type="text" name="username" id="username" class="form-control"/>
            </div>
            <p class="help-block">供登录时使用，字数不少于4个</p>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3" for="password">密码&nbsp;</label>

        <div class="col-xs-6">
            <div class="input-group">
                <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                <input type="text"  name="password" id="password" class="form-control"/>
            </div>
           <p class="help-block">
               至少8位，必须包含字母、数字、特殊字符
           </p>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3" for="repassword">确认密码</label>

        <div class="col-xs-6">
            <div class="input-group">
                <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                <input type="text" name="repassword" id="repassword" class="form-control"/>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3" for="email">邮箱</label>

        <div class="col-xs-6">
            <div class="input-group">
                <div class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></div>
                <input type="email" name="email" id="email" class="form-control"/>
            </div>
            <p class="help-block">请输入一个有效的邮箱地址</p>
        </div>
    </div>
    <div class="col-xs-offset-3 col-xs-1">
        <input class="btn btn-primary" type="submit" value="注册">
    </div>
    <div class="col-xs-1">
        <input type="reset" class="btn btn-primary" value="重置">
    </div>

</form>
<%include ../include/footer.html%>