<%include ../include/header.html%>
<div class="container">
    <form action="/user/setting" method="post" role="form" enctype="multipart/form-data">
        <div class="panel panel-default col-xs-offset-2 col-xs-8" style="padding:0">
            <div class="panel-heading">
                上传头像
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="avatar" class="control-label">从本地选择头像</label>
                    <input type="file" id="avatar" class="form-control" name="avatar"/>
                </div>
            </div>
        </div>
        <div class="panel panel-default col-xs-offset-2 col-xs-8" style="padding:0">
            <div class="panel-heading">
                修改密码
            </div>
            <div class="panel-body">

                    <div class="form-group">
                        <label for="nPassword" class="control-label">新密码</label>
                        <input type="password" name="password" class="form-control" id="nPassword">
                    </div>
                   <div class="form-group">
                       <label for="rePassword" class="control-label">确认密码</label>
                       <input type="password" name="confirm" class="form-control" id="rePassword">
                   </div>
            </div>
        </div>
        <div class="col-xs-offset-2 col-xs-3">
            <button type="submit" class="btn btn-primary btn-block" value="保存修改">保存修改</button>
        </div>
    </form>
</div>
<%include ../include/footer.html%>