<%-include ../include/header.html%>
<form action="/article/add" method="post" class="form-horizontal" enctype="multipart/form-data">
    <!--form的enctype为multipart/form-data表示该表单提交的内容有多种类型，在使用包含文件上传的表单时，使用这个值-->
    <input type="hidden" name="_id" value="<%=article._id%>">
    <div class="form-group">
        <label class="control-label col-xs-3" for="title">标题</label>
        <div class="col-xs-6 input-group">
            <div class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></div>
            <input type="text" name="title" id="title" class="form-control" value="<%=article.title%>"/>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3" for="content">正文</label>
        <div class="col-xs-6 input-group">
            <div class="input-group-addon"><span class="glyphicon glyphicon-list-alt"></span></div>
            <textarea class="form-control" name="content" id="content" cols="30" rows="10"><%=article.content%></textarea>
            </div>
    </div>
    <div class="form-group">>
        <label class="control-label col-xs-3">上传图片</label>
        <div class="col-xs-5">
            <%if (article.attach){%>
            <div>
                <img src=<%=article.attach%> class="img-responsive" alt="">
            </div>
            <%}%>
            <input type="file" id="file" name="file">
        </div>
    </div>
    <div class="col-xs-offset-3">
        <input class="btn btn-primary" type="submit" value="发表">
    </div>
</form>
<%-include ../include/footer.html%>