body {
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background:rgba(217,237,247,0.12) url("../test1.png") fixed 1000px 500px no-repeat;
}

a {
  color: #000;
}

.alert-warning{
  text-align:center;
}
.contentArea{
  width:1000px;
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
}
.linkText{
  text-decoration:underline;
}


